<div class="container">
    <legend>{{{name}}}</legend>
    <pre class="line-numbers"><code class="language-{{{language}}}">{{{content}}}</code></pre>
    <p>Created on {{{localeDate createdOn}}}</p>
    <p>Expires on {{{localeDate expiresOn}}}</p>
</div>